@import url(./vendor/normalize.css);
.app__header p {
  margin: 0;
  padding: 25px 0 7px 0;
  font-size: 16px;
  line-height: 32px; }

.app__header h1 {
  margin: 0;
  padding: 64px 0 0 0;
  font-size: 40px;
  line-height: 64px; }

.app {
  background: linear-gradient(rgba(0, 0, 0, 0.08) 1px, transparent 1px) left -1px/16px 16px, linear-gradient(rgba(0, 0, 0, 0.12) 1px, transparent 1px) left -1px/64px 64px; }

.rhytm_table {
  margin: 0 auto;
  border-collapse: collapse; }

.rhytm_table td {
  padding: 25px 0 6px 0;
  border-bottom: 1px solid #aaa;
  font-size: 16px;
  line-height: 32px; }

html {
  height: 100%;
  color: #222;
  font-family: 'opensans', sans-serif;
  font-size: 16px; }

body, #root {
  height: 100%; }

::-moz-selection, ::selection {
  background: #b3d4fc; }

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px; }

.app__body {
  flex: 1 0 auto; }

.app__footer {
  flex-shrink: 0; }

.app__container {
  margin: auto;
  max-width: 800px; }

.app__header .app__container {
  display: flex; }
