@import './vendor/normalize.css';

/* GLOBALS */
html {
  height: 100%;
  color: #222;
  font-family: 'opensans', sans-serif;
  font-size: 16px;
}
body, #root {
  height: 100%;
}
::-moz-selection, ::selection {
  background: #b3d4fc;
}


/* CUSTOM STYLES */
/* h1 { @extend %rhytm_40; }
h2 { @extend %rhytm_32; }
p { @extend %rhytm_16; } */


/* Tablets: > Sony Xperia screen */
@media screen and (min-width: 541px) {
}

/* Laptops */
@media screen and (min-width: 960px) {
  .app__container {
    margin: auto;
    max-width: 960px;
  }
}

/* Huge Screens: > Surface pro 4 screen */
@media screen and (min-width: 1370px) {
}
