@import 'normalize.css';
@import 'rhytm.css';

/* GLOBALS */
html {
  height: 100%;
  color: #222;
  font-family: 'opensans', sans-serif;
  font-size: 16px;
}
body, #root {
  height: 100%;
}
::-moz-selection, ::selection {
  background: #b3d4fc;
}


/* LAYOUT */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
}
/* .app__header {} */
.app__body { flex: 1 0 auto; }
.app__footer { flex-shrink: 0; }
.app__container {
  margin: auto;
  max-width: 800px;
}


/* CUSTOM STYLES FOR THE FIRST SCREEN */

@media screen and (min-width: 541px) { /* > Sony Xperia screen */
}
@media screen and (min-width: 976px) { /* 960px + 8px*2 mobile paddings */
}
@media screen and (min-width: 1370px) { /* > Surface pro 4 screen */
}
