@import './vendor/normalize.css';
@import './vendor/rhytm.scss';

// GLOBALS
html {
  height: 100%;
  color: #222;
  font-family: 'opensans', sans-serif;
  font-size: 16px;
}
body, #root {
  height: 100%;
}
::-moz-selection, ::selection {
  background: #b3d4fc;
}


// LAYOUT
$mobile_padding: 8px;
$screen_threshold: 960px;
.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;

  @extend %ruler;
}
.app__header {}
.app__body { flex: 1 0 auto; }
.app__footer { flex-shrink: 0; }
.app__container {
  padding: 0 8px;
}


// CUSTOM STYLES
h1 { @extend %rhytm_40; }
h2 { @extend %rhytm_32; }
p { @extend %rhytm_16; }


// Tablets: > Sony Xperia screen
@media screen and (min-width: 541px) {
}

// Laptops
@media screen and (min-width: $screen_threshold + 2*$mobile_padding) {
  .app__container {
    margin: auto;
    max-width: $screen_threshold;
  }
}

// Huge Screens: > Surface pro 4 screen
@media screen and (min-width: 1370px) {
}
